img {
    z-index: -1 !important;
    left: 0;
    top: 0;
}

body {
    min-height: 100vh;
}

.title {
    transform: translate(25%, -10%);
}

img {
    object-fit: cover;
}

.navbar {
    /* background-color: rgba(253, 250, 233, .65); */
}
